/*цвет основного текста #212121*/
/*вторичный текст  #757575*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*секондари #2196F3*/

:root {
  --primary-text-color: #757575;
  --titlt-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #f5f4fa;
  --button-color: #f2f2f2;
}

/*разметка страницы*/
.page {
  background-color :var(--white-color)
  color: var(--primary-text-color);
  font-family: roboto;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #212121;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo :hover,
.logo :focus {
  color: var(--accent-color);
}


.accent {
color: var(--accent-color);
}

.list {
  list-style: none;
}

/*оформление текста*/
.section {
  color: var(--titlt-text-color);
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.title-work {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

.post {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.title-post {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

/*site nav*/
.site-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: roboto;
}

.site-nav a {
  color: var(--titlt-text-color);
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.current {
  text-decoration: none;
}

.site-nav .link.current {
  text-decoration: none;
  color: var(--accent-color);
}

.info {
  text-decoration: none;
}

.content {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.auth-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.auth-nav a {
  color: var(--primary-text-color);
}

.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-color);
}
.baner-section {
  background-color: #2f303a;
}

.baner {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-color);
  text-align: center;
}

.footer {
  background-color: #2f303a;
}

.logo-footer {
  text-decoration: none;
  color: var(--white-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer :hover,
.logo-footer :focus {
  color: var(--accent-color);
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
}

.adress-nav {
  text-decoration: none;
}

/*button*/

.list-button {
  list-style: none;
}

button {
  font-family: inherit;
  height: 38px;
  background: var(--button-color);
  color: var(--titlt-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

button:hover,
button :focus {
  color: var(--button-color);
  background: var(--accent-color);
}
