/*цвет основного текста #212121*/
/*вторичный текст  #757575*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*секондари #2196F3*/

:root {
  --primary-text-color: #757575;
  --titlt-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #f5f4fa;
}

/*разметка страницы*/
.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.logo {
  font-size: 26px;
  color: #212121;
}

.logo :hover,
.logo :focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/*оформление текста*/
.section {
  color: var(--titlt-text-color);
}

.title {
  color: var(--primary-text-color);
}

/*site nav*/

.site-nav a {
  color: var(--titlt-text-color);
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--primary-text-color);
}

.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-color);
}
.baner-section {
  background-color: #2f303a;
}

.baner {
  color: var(--white-color);
}

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--white-color);
  font-size: 26px;
}

.logo-footer :hover,
.logo-footer :focus {
  color: var(--accent-color);
}

.adress {
  color: var(--white-color);
}

/*button*/

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
}
.button :hover {
  color: black;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--secondary-color);
}
