/*цвет основного текста #212121*/
/*вторичный текст  #757575*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*секондари #2196F3*/

:root {
  --primary-text-color: #757575;
  --titlt-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #f5f4fa;
  --button-color: #f2f2f2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*разметка страницы*/

.page {
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #212121;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo :hover,
.logo :focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-past {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-past .itel {
  width: 370px;
  margin-right: 30px;
}

.list-past .itel:nth-child(3n) {
  margin-right: 0;
}

.lest-post {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 94px;
}

.team {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.lest-post .team {
  width: 370px;
  margin-right: 30px;
}

.lest-post .team:nth-child(3n) {
  margin-right: 0;
}

.list-best {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 94px;
}

.list-best .itev {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-best .itev:nth-child(4n) {
  margin-right: 0;
}

/*оформление текста*/

.paragraph {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 5px;
}

.section {
  padding-top: 94px;
  color: var(--titlt-text-color);
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio {
  display: none;
}
.banner {
  display: none;
}

.title-work {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.post {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.title-post {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
/*mine nav*/

.main-nav {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

/*site nav*/

.site-nav {
  margin-left: 93px;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: roboto;
}

.site-nav .iten {
  margin-right: 50px;
}

.site-nav .iten:last-child {
  margin-right: 0;
}

.site-nav a {
  color: var(--titlt-text-color);
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.current {
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  text-decoration: none;
  color: var(--accent-color);
}

.info {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.info-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.content {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.auth-nav {
  margin-left: auto;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auts-nav {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auth-nav .iten {
  margin-right: 50px;
}

.auts-nav .iten {
  margin-right: 50px;
}

.auth-nav .iten:last-child {
  margin-right: 0;
}

.auts-nav .iten:last-child {
  margin-right: 0;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.auth-nav a {
  color: var(--primary-text-color);
}

.auts-nav a {
  color: var(--primary-text-color);
}

.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-color);
}

.auts-nav :hover,
.auts-nav :focus {
  color: var(--accent-color);
}

.baner-section {
  background-color: #2f303a;
  height: 600px;
  margin-top: 0;
}

.baner {
  padding-top: 200px;
  margin: 0;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
}
.section-title .item {
  width: 270px;
  margin-right: 15px;
}

.section-title .item:nth-child(4n) {
  margin-right: 0;
}

.footer {
  background-color: #2f303a;
  min-height: 252px;
}

.iten-two {
  margin-top: 9px;
}

.logo-footer {
  text-decoration: none;
  color: var(--white-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.auth-nav .list {
  display: block;
}

.logo-footer :hover,
.logo-footer :focus {
  color: var(--accent-color);
}

.adress {
  padding-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
}

.adress-nav {
  text-decoration: none;
}

/*button*/

.list-button {
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  display: flex;
  margin-left: 8px;
  border: none;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
}

button {
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}

button:hover,
button :focus {
  color: var(--button-color);
  background: var(--accent-color);
}
